<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>crear producto</title>
</head>
<body>
<a href="carrito">ir al carro</a>
<a href="nuevoProducto">nuevo producto</a>
<div th:each="producto:${productos}" th:if="${producto.getStock()>0}">
  <span th:text="${producto.getNombre()}"></span>
  <span th:text="'stock: '+${producto.getStock()}"></span>
  <button th:id="${producto.getId()}" class="btn"> añadir al carro</button>
</div>
<script>
  var botones=document.getElementsByClassName("btn");
  for (let boton of botones){
    boton.addEventListener("click",function (){
      console.log(boton.id)
      var json={"key":boton.id, "add":1 };
      fetch("/añadir",{
        method:"Post",
        headers:{'Content-Type': 'application/json'},
        body:JSON.stringify(json)
      }).then(result=>result.json()).then(result=>console.log(result)).catch(e=>console.log(e))
      console.log(json)
    })
  }
</script>
</body>
</html>