<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="/fragments/head :: head"></div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a th:href="@{/nuevoPedido/}" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgregar">Agregar</a>
    <br>
    <div class="container">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#id</th>
                <th scope="col">producto</th>
                <th scope="col">cantidad</th>
                <th scope="col">comprador</th>
                <th scope="col">fecha</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pedido : ${listaPedidos}">
                <td th:text="${pedido.id}"></td>
                <td th:text="${pedido.producto}"></td>
                <td th:text="${pedido.cantidad}"></td>
                <td th:text="${pedido.usuario}"></td>
                <td th:text="${pedido.fecha}"></td>
                <td> <a th:href="@{/editar/{id}(id=${pedido.id})}" class="btn btn-primary">Editar</a>
                    <a th:href="@{/borrar/{id}(id=${pedido.id})}" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!--Modal agregar producto-->
<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="align-items: center" >
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarLabel"><span style="color: black">Agregar nuevo producto</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <!--agregar-->
                <form class="row" id="formularioProd">
                    <label for="nombreProd" class="col">Nombre del producto</label>
                    <input type="text" id="nombreProd" class="form-control m-2" placeholder="nombre producto" style="border-radius: 30px">

                    <label for="descripcionProd" class="col">Descripción</label>
                    <input type="text" id="descripcionProd" class="form-control m-2" placeholder="descripción producto" style="border-radius: 30px">

                    <label for="cantidadProd" class="col">Cantidad</label>
                    <input type="number" min="1" id="cantidadProd" class="form-control m-2" placeholder="cantidad" style="border-radius: 30px">

                    <label for="categoriaProd" class="col">Categoría</label>
                    <input type="text" id="categoriaProd" class="form-control m-2" placeholder="categoria" style="border-radius: 30px">

                    <div class="row my-3 g-5">
                        <button type="submit" class="col-6 p-2 " style="background-color: #FB4E4E; border:none; color: white; border-radius: 14px; " id="btnGuardarAgregar">Guardar</button>
                        <button type="submit" class="col-6 p-2" style="background-color: #FB4E4E; border:none; color: white; border-radius: 14px; " id="btnCancelarAgregar">Cancelar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>




<div th:replace="/fragments/footer :: bootstrap"></div>
</body>
</html>