<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Compra</title>
</head>
<body>
<a href="catalogo">ir al catalogo</a>
<div th:each="compra:${misCompras}">
  <div th:each="pedido:${compra.getPedidos()}">
    <div th:text="'producto: '+${pedido.producto.getNombre()}+' cantidad: '+${pedido.cantidad}+' precio: '+${pedido.cantidad*pedido.producto.getPrecio()}"></div>
  </div>
  <div th:text="'precio total: '+${compra.getPrecioTotal()}"></div>
</div>
</div>
</body>
</html>